html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




/**/


.form-body {
    background: rgb(99, 131, 156, 0,90);
    padding: 20px 40px;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}