@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Employee Manager App</h1>
    <h2> Please choose an option from the menu above</h2>
</div>